s* {
	box-sizing: border-box;;
}

html{
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 14px;
	color: #b9b5b5;
	margin:0 0 60px; 
	background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
}

header {
	padding: 20px 0 5px;
}
.container {
	max-width: 980px;
}

#logo {
	text-align: center;
	font-size: 60px;
	margin-bottom: 40px;
	color:#fff;
}
/*footer*/
footer {
	text-align: center;
	height: 60px;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p{
	margin-top: 20px;
	color: #fff;
}

#pattern {
	list-style: none;
	padding: 0;
	margin: 10px 0 20px;
}

#pattern li {
	display: inline-block;
	padding: 0 5px;
	font-size: 18px;
}

p {font-weight: bold;
	font-weight: bold;
}

h2 {
	margin-top: 10px;
	margin-bottom: 30px;
	color:#fff;
}


#msgContainer {
	margin-bottom: 15px;
	border-radius: 4px;
	color: #fff;
	overflow: hidden;
	-webkit-transition: height 2s;
	transition: height 2s;
	display: none;
}

#msgContainer p {
	padding: 10px 0;
}

#play {
	margin-top: 10px;
	display: inline-block;
	font-size: 20px;
}

.btn-toolbar {
	max-width: 380px;
	margin: 0 auto;
	/*display: none;*/
}

.btn-toolbar .btn-group {
	float: none;
}

.btn {
	text-shadow: none;
	font-size: 16px;
}


.right, .right:hover {
	background-color: #62c462 !important;
	opacity: 1 !important;
	background-image: none;
}

.wrong, .wrong:hover {
	background-color: #fb4843 !important;
	opacity: 1 !important;
	background-image: none;
}

#game {
	display: none;
}

#game, #sidebar, #intro{
	background-color: rgba(5, 5, 5, 0.76);
	padding: 20px 10px;
	margin-bottom: 20px;
	min-height: 460px;
}

.list-group {
	width: 100px;
    float: right;
}

.list-group li {
	font-size: 12px;
	padding: 5px 15px !important;
}

.list-group-item>.badge {
    margin-left: 4px;
    line-height: .8;
}

#hangman {
	height: 200px;
	background-image: url('../images/img-0.png');
	background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: contain;
}