body {
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 18px;
}

.container {
	max-width: 980px;
}


ul {list-style: none}

ul li {
	display: inline-block;
	padding: 0 5px;
	font-size: 18px;
}

p {font-weight: bold;
	font-weight: bold;
}

#msgContainer {
	margin-bottom: 15px;
	border-radius: 4px;
	background-color: #f89406;
	color: #fff;
	height: 110px;
	overflow: hidden;
	-webkit-transition: height 1s;
	transition: height 1s;
}

#msgContainer h3 {
	padding-bottom: 30px;
}

#play {
	margin-top: 10px;
	display: inline-block;
}

.btn-toolbar {
	max-width: 380px;
	margin: 0 auto;
	display: none;
}

.btn-toolbar .btn-group {
	float: none;
}

.btn-primary {
	text-shadow: none;
	font-size: 18px;
}

.right, .right:hover {
	color: #62c462;
}

.wrong, .wrong:hover {
	color: red;
}

 #playArea{
 	display: none;
 }